<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.n_develop.n_calcs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_v_2_48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--Активность с подклассами-->
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Активность со списком разделов подкласса-->
        <activity android:name=".Activity.TypesActivity"></activity>
        <!--Активность со списком калькуляторов раздела-->

        <activity android:name=".Activity.ListCalcsActivity"></activity>
        <!--Активность калькулятора-->
        <activity android:name=".Activity.CalcActivity"></activity>
    </application>

</manifest>